name: Publish to NPM
on:
  push:
    branches:
      - main
jobs:
  Publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: oven-sh/setup-bun@v2
      - name: Install
        run: bun i
      - name: Typecheck
        run: bunx tsgo -p ./tsconfig.json
      - name: Publish
        run: NPM_CONFIG_TOKEN=${{secrets.NPM_CONFIG_TOKEN}} bun publish
          
   
